<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{HH:mm:ss}) %highlight(%-5level) %blue(${springAppName:-}) %green(%X{X-B3-TraceId:-}) %yellow(%C{0}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
    </root>

</configuration>